DATABASE_URL=postgresql://postgres@localhost:5432/songa
NODE_ENV=development
EMAIL_API=Fdnfjfdjdf
EMAIL_HOST=smtp.sengrid.com
EMAIL_PORT=2525
EMAIL_USERNAME=sample.emaul@gmail.com
EMAIL_SENDER="Songa App <sample.email@gmail.com>"
BASE_URL=https://localhost:3000
